@import "../bootstrap/_mixins";

#arch-content {
    .image-placeholder-medium.home-ad-1 {
        display: none;
    }

    h4 {
        a {
            text-decoration: none !important;
            color: theme-color("primary") !important;
            display: block;
            height: 1.5rem;
            overflow: hidden;
        }
    }
    @include media-breakpoint-down(sm) {
        img {
            -o-object-fit: cover;
            object-fit: cover;
            width: 100%;
            height: auto;
            position: relative;
            max-height: 400px;
        }

        .col {
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

        .arch-content-info {
            border-bottom: $border-width $border-color solid;
        }
    }
    @include media-breakpoint-up(sm) {
        .image-placeholder-large,
        .image-placeholder-medium {
            height: 387px;
        }
    }
    @include media-breakpoint-up(md) {
        .image-placeholder-large {
            height: 264px;
        }

        .image-placeholder-medium {
            height: 170px;
        }
    }
    @include media-breakpoint-up(lg) {
        .image-placeholder-large {
            height: 357px;
        }

        .image-placeholder-medium {
            height: 232px;
        }
    }

    #second-content {
        margin-top: 40px;
        overflow: hidden;


        @include media-breakpoint-down(sm) {
          margin-top: 0;
        }

        .col {
            margin-bottom: 20px;
        }
    }

    .arch-content-info {
        font-size: 1.06rem;
        position: relative;

        h4 {
            color: theme-color("primary");
            padding: 12px 0;
            font-size: 19px;
            font-weight: bold;
            line-height: 1.16;
            height: 35px;
            @include media-breakpoint-down(lg) {
                height: auto;
                margin: 0;
            }
        }

        .product-specification {
            height: 25px;
            overflow: hidden;
        }

        .product-location {
            height: 25px;
            overflow: hidden;
        }

        .placeholder-link {
            height: 25px;
            overflow: hidden;

            .row {
                position: absolute;
                bottom: 0;
            }
        }

        a:not(.btn) {
            color: theme-color("secondary");
            text-decoration: underline;
        }

        .price {
            font-size: large;
            font-weight: bold;
            padding-top: 12px;
            @include media-breakpoint-up(lg) {
                span {
                    display: block;
                    position: absolute;
                    left: 12px;
                    bottom: -4px;
                }
            }
        }
    }
}
