#site-disclaimer {
    background-color: #27ae60;
    padding: 21px 0 24px 0;
    color: white;
    font-size: 12px;
    font-family: Arial;
    line-height: 1.67;

    .nav-link {
        padding: 0rem 0.5rem;
        font-size: 13px;
        color: white;
        text-decoration: underline;
        line-height: 1.54;
    }
}
