.filter-options {
    a {
        color: $black;
        font-weight: bold;
    }

    .glyphicon-chevron-down,
    .text-info {
        display: none;
    }

    .glyphicon-chevron-up {
        display: inline-block;
    }

    .alert {

        border-color: #e74c3c;
        background-color: #fff;
        position: relative;
        font-size: 1rem;
        margin-bottom: 0;

        ul {
            padding-left: 12px;
            margin-top: 13px;
            margin-bottom: 3px;
        }

        #reset-btn {
	width: 100%;
  padding: 10px 0;
  font-size: 1rem;
}

        &.sticky-alert {
            position: fixed;
            bottom: 49px;
            z-index: 999;
            width: 226px;
            @include media-breakpoint-down(md) {
                width: 100%;
                left: 0;
            }
        }

      /*  &::before {
            content: '\e92b';
            font-family: Botenbank;
            position: absolute;
            right: 8px;
            top: calc(50% - 22px);
            font-size: 30px;
        }*/
    }

    .collapsed {
        .glyphicon-chevron-down,
        .text-info {
            display: inline-block;
        }

        .glyphicon-chevron-up {
            display: none;
        }
    }

    .filter-option {
        border-bottom: 1px solid $border-color;
        margin-bottom: 19px;
        padding-bottom: 19px;

        @include media-breakpoint-down(md) {
          &[id*="-filter-"] {
              padding-bottom: 0;

              input,
              select {
                  background-color: #f2f2f2;
              }

              .input-group-addon {
                  background-color: #f2f2f2;
              }
          }
      }

        input[type="number"] {
            -webkit-appearance: textfield;
            -moz-appearance: textfield;
            appearance: textfield;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }

        h6 {
            font-weight: bold;
            margin-bottom: 10px;
            font-size: 1rem;
        }

        .input-group-addon {
            background: none;
            color: $gray-500;
        }

        &#prijs-filter-option {
            padding-bottom: 10px;
        }

        .sub-filter-option {
            a {
                color: theme-color("primary");
                text-decoration: underline;
                display: none;

                &.collapsed,
                &.show-less {
                    display: block;
                }
            }

            #morematerials-accordion {
                margin-top: 10px;
            }
        }
    }
}
