@import "../bootstrap/_mixins";

#home-categories {
    margin-top: 26px;
    font-size: 2rem;

    i {
        border: 1px solid;
        border-radius: 45px;
        padding: 10px;
        margin-right: 10px;
        font-size: 1.5rem;


    }

    a {
        color: $body-color;
        line-height: 26px;
        white-space: nowrap;

        &:hover {
            text-decoration: none;
            color: $link-hover-color;
        }

        font-size: 1.1rem;


    }

    @include media-breakpoint-down(sm) {
      .col:last-child{
        display: none;
      }
    }
}
