#home-search,
#home-search-mobile {
    .card-body {
        padding: 1.53rem 2.66rem 2.66rem;
    }

    #kopenhurentab-content-mobile {
        min-height: 68px;

        #kopen-mobile {
            &.sticky {
                position: fixed;
                width: 100%;
                top: 0;
                background-color: #fff;
                left: 0;
                padding: 12px;
                z-index: 9999;
                box-shadow: 0 2px 4px rgba(0,0,0,0.3);

                .form-group {
                    margin-bottom: 0;
                }
            }
        }
    }

    .nav-tabs {
        border-bottom: none;

        .nav-link {
            font-size: 17px;
            color: $nav-link-disabled-color;
            padding: 0 1rem 1.33rem;

            &.active {
                border: none;
                border-bottom: 1px solid theme-color("primary");
                color: theme-color("primary");
            }
        }
    }

    .tab-pane {
        .input-group-addon {
            background: none;
        }
    }

    .home-category {
        a {
            @include media-breakpoint-down(lg) {
                font-size: 1rem;
            }
        }
    }
}

#home-search {
    padding-top: 166px;
    position: relative;

    &:before {
        content: '';
        background-image: url("../assets/images/home.jpg");
        width: 100%;
        height: 469px;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: 0 bottom;
        z-index: -1;
        @include media-breakpoint-up(lg) {
            background-size: 1920px auto;
            background-position: center bottom;
        }
    }

    .col,
    .col-md-auto {
        @include media-breakpoint-down(sm) {
            width: 50%;
        }
    }

    #title {
        color: white;
        font-size: 48px;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    }

    #search-card {
        margin-top: 40px;
        min-height: 170px;

        .card-body.sticky {
            position: fixed;
            top: 0;
            background-color: #fff;
            width: 100%;
            left: 0;
            padding: 1rem calc((100vw - 976px) / 2);
            z-index: 9999;
            box-shadow: 0 2px 4px rgba(0,0,0,0.3);

            #advanced-search-link {
                right: calc((100vw - 976px) / 2);
            }
        }

        input {
            height: 52px;
            padding: 0.62rem 1.6rem 0.62rem 1.2rem;
        }

        button {
            height: 52px;
        }
        @include media-breakpoint-down (sm) {
            button {
                padding: 0.62rem 0;
                width: 100%;
            }
        }

        #advanced-search-link {
            position: absolute;
            right: 2.66rem;
            text-decoration: underline;
        }

        .input-group-addon {
            background: white;
            padding-right: 0;
            padding-left: 1.2rem;

            &:before {
                font-size: 1.1rem;
                color: $gray-500;
            }
        }

        input {
            box-shadow: none;
            border-left: none;

            &:focus {
                border-color: $border-color;
            }
        }
    }
}

#home-search-mobile {
    .nav-item {
        width: 50%;
        text-align: center;

        .nav-link {
            color: inherit;
            font-size: 1.1rem;
            padding: 1.2rem 0;

            &.active {
                color: theme-color("primary");
                border: none;
                border-bottom: 2px solid theme-color("primary");
            }
        }
    }

    button,
    input {
        height: 52px;
    }

    button {
        &:before {
            color: white;
        }
    }

    #advanced-search-link-mobile {
        text-decoration: underline;
    }
    border-bottom: $border-width $border-color solid;
    padding-bottom: 26px;
}
