img.logo {
    width: 180px;
}

.image-placeholder {
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        min-height: 100%;
    }
}

.image-placeholder-largest {
    @extend .image-placeholder;
    height: $image-height-largest-sm;

    @include media-breakpoint-up(md) {
        height: $image-height-largest-md;
    }

    @include media-breakpoint-up(lg) {
        height: $image-height-largest-lg;
    }
}


.image-placeholder-large {
    @extend .image-placeholder;
    height: $image-height-large-sm;

    @include media-breakpoint-up(md) {
        height: $image-height-large-md;
    }

    @include media-breakpoint-up(lg) {
        height: $image-height-large-lg;
    }
}

.image-placeholder-medium {
    @extend .image-placeholder;
    height: $image-height-medium-sm;

    @include media-breakpoint-up(md) {
        height: $image-height-medium-md;
    }

    @include media-breakpoint-up(lg) {
        height: $image-height-medium-lg;
    }
}

.image-placeholder-small {
    @extend .image-placeholder;
    height: $image-height-small-sm;

    @include media-breakpoint-up(md) {
        height: $image-height-small-md;
    }

    @include media-breakpoint-up(lg) {
        height: $image-height-small-lg;
    }
}

.image-placeholder-squared-small {
    @extend .image-placeholder;
    height: $image-height-squared-small-sm;

    @include media-breakpoint-up(md) {
        height: $image-height-squared-small-lg;
    }

    @include media-breakpoint-up(lg) {
        height: $image-height-squared-small-lg;
    }
}
