@import "components/_save-search-card.scss";
@import "components/_filter_options_search_result";
@import "components/_highlighted_search_result";
@import "components/_pagination_search_result";
@import "components/_search_results";
@import "components/_last_content";

#search-page {
    margin-bottom: 30px;

    li .row center {
        @include media-breakpoint-down(sm) {
            margin: auto;
            /* fix voor scheve banners */
        }
    }

    .image-placeholder {
        img {
            position: relative;
            right: auto;
            bottom: auto;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            height: 100%;

            &.portrait-img {
                object-fit: unset;
                width: auto;
                margin: auto;
                display: block;

                @include media-breakpoint-down(sm) {
                  margin-left: 0;
                }
            }
        }
    }

    .highlighted-search-results {
        .image-placeholder-small {
            @include media-breakpoint-only(sm) {
                height: 100px;
            }
        }
    }

    .image-placeholder-small {
        @include media-breakpoint-down(sm) {
            height: auto;
            max-width: 100%;
            max-height: 600px;
        }
    }

    .category-tile {
        font-size: 1.1rem;
        color: theme-color("primary");
        padding: 40px 0 19px;
        border-bottom: 1px solid $border-color;
        margin-bottom: 16px;
    }

    .glyphicon:not(.glyphicon-bell, .glyphicon-star) {
        color: $black;
    }

    #search-sorting {
        background-color: $green-lightest;
        padding: 10px 14px;

        select {
            display: inline-block;
            min-width: 15px;
            height: 32px;
            cursor: pointer;
            padding-bottom: 4px;
        }

        #sorting-search-result {
            padding-right: 10px;
            background-clip: padding-box;
            background-size: 12px 12px;
            min-width: 200px;
            text-align-last: left;
            vertical-align: middle;
        }

        #sorting-search-pagingsize {
            border-radius: $border-radius;
        }
    }

      img:not(.portrait-img) {
        @include media-breakpoint-down(md) {
            margin: 0;
            max-width: 100% !important;
            height: auto !important;
            width: 100% !important;
        }
    }
}
