#top-search {
    height: 68px;
    background-color: $green-lightest;
    border-bottom: 1px solid #ecf7fd;
    padding: 12px 0 12px 0;
    top: -50px;
    transition: top 0.3s ease;

    &.sticky {
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 9999;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.3);

        + #bread-scrum {
            padding-top: 68px;
        }
    }

    input, button, .input-group-addon {
        height: 43px;
    }

    .btn {

        padding-left: 60px;
        padding-right: 60px;

        @include media-breakpoint-down(sm){
          display: none;
        }
    }

    a {
        text-decoration: underline;
    }

    .input-group-addon {
        background: white;
        color: $gray-500;
    }

    input {
        box-shadow: none;

        &:focus {
            border-color: $border-color;
        }
    }
}
