#top-search {
    height: 68px;
    background-color: $green-lightest;
    border-bottom: 1px solid #ecf7fd;
    padding: 12px 0;
    top: -50px;
    transition: top 0.3s ease;

    .btn.d-md-none {
        padding: 0;
        max-width: 57px;
        border-radius: 0;
        margin-left: 10px;

        &::before {
            content: '\e986';
            color: #fff;
        }
    }

    &.sticky {
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 9999;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        height: auto;
        padding: 0.5rem 0;

        + #bread-scrum {
            padding-top: 68px;
        }
    }

    .input-group-addon,
    button,
    input {
        height: 43px;
    }

    .btn {
        padding-left: 60px;
        padding-right: 60px;
    }

    a {
        text-decoration: underline;
    }

    .input-group-addon {
        background: white;
        color: $gray-500;
    }

    input {
        box-shadow: none;

        &:focus {
            border-color: $border-color;
        }
    }
}
